whitenoise>=6.9
Django==6.0.7
channels==4.3.2
channels-redis==4.3.0
daphne==4.2.1
dj-database-url>=2.3
psycopg[binary]>=3.2
djangorestframework>=3.16
django-cors-headers>=4.7
djangorestframework-simplejwt>=5.3
google-auth>=2.0
requests>=2.0
pillow>=10.0
pydantic>=2.0
python-dotenv
boto3
django-storages
